* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --height: 4rem;
  --max-height: 100px;
  --weight: 100vw;
  --primary-color: #fbfbfe;
  --border-color: blue;
  --text-active-color :#6f58df;
  --text-default-color :#838185;
  --text-default-font-weight:500;
}
.navbar {
  height: var(--height);
  max-height: var(--max-height);
  width: var(--weight);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  
  /* border: 1px solid var(--border-color); */
}
@media screen and (max-width :1024px){
  .navbar{
    position: fixed;
    bottom: 0;
  }
}
.navContainer {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s;
  /* border: 1px solid var(--border-color); */
  font-weight: bold; 
}
.menu {
  width: 80%;
  height: 100%;
}
.submenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* border: 1px solid var(--border-color); */
  justify-content: end;
  align-items: center;
}

li{
  list-style: none;
  /* width: 14%; */
  
}
a{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  font-weight: var(--text-default-font-weight);
  transition: color 0.2s;
  text-decoration: none;
  font-family: 'Roboto';
  /* border: 1px solid var(--border-color); */
}
a:hover {
  cursor: pointer;
  color: var(--text-active-color)
}
.navButton {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--border-color); */
}
